
{{#partial "title"}}Home{{/partial}}

{{#partial "content"}}
    <div class="row">
        <div class="col pt-2 pl-0 pr-0">
            <div class="jumbotron" style="height: 80vh">
                <h1 class="title"><a href="/"><img src="/images/title.png"></a></h1>
                <p class="lead">Save our game park!</p>
                <hr class="my-4">
                <p><a href="/"><img src="/images/desccription.png"></a></p>
                <a href="/animal/new" class="btn btn-info"><img src="/images/addanimal.png"></a>
                <a href="/sightings/new" class="btn btn-warning"><img src="/images/coollogo_com-3429219.png"></a></h1>
                <img src="/image/bg.jpg" alt="wildlife">
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-12 text-center">
            <p class="lead"></p>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}